$body-bg: #fff;
$body-bg-dark: #1b1f22;
$theme-colors: (
  "primary": #27187E,
  "secondary": #aeb2b6,
  "success": #636B2F,
  "info": #0ccaf0,
  "warning": #FF8811,
  "danger": #dc3545,
  "dark": #000000,
  "light": #f8f9fa,
  "body-bg": #fff,
  // Bootstrap extended colors
  "gray": $gray-500,
  "grey": $gray-500,
  "blue": $blue,
  "indigo":$indigo,
  "purple":$purple,
  "pink":$pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green":$green,
  "teal": $teal,
  "cyan":$cyan,
  // Custom colors
  "camp": #6290C3,
  "vue": #42b883,
);